<?xml version="1.0"?>
<!--
/**
 * Salesfire config
 *
 * @category   Salesfire
 * @package    Salesfire_Salesfire
 * @version    1.2.0
 */
-->
<config>
    <modules>
        <Salesfire_Salesfire>
            <version>1.2.0</version>
        </Salesfire_Salesfire>
    </modules>

    <crontab>
        <jobs>
            <salesfire_generate_feed>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>salesfire/feed::generate</model></run>
            </salesfire_generate_feed>
        </jobs>
    </crontab>

    <global>
        <models>
            <salesfire>
                <class>Salesfire_Salesfire_Model</class>
            </salesfire>
        </models>
        <blocks>
            <salesfire>
                <class>Salesfire_Salesfire_Block</class>
            </salesfire>
        </blocks>
        <helpers>
            <salesfire>
                <class>Salesfire_Salesfire_Helper</class>
            </salesfire>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <salesfire>
                    <file>salesfire.xml</file>
                </salesfire>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <salesfire>
                        <class>salesfire/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </salesfire>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <salesfire>
                        <class>salesfire/observer</class>
                        <method>setProduct</method>
                    </salesfire>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <checkout_onepage_controller_success_action>
                <observers>
                    <salesfire>
                        <class>salesfire/observer</class>
                        <method>setOrder</method>
                    </salesfire>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <salesfire>
                        <class>salesfire/observer</class>
                        <method>setOrder</method>
                    </salesfire>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <routers>
            <salesfire>
                <use>standard</use>
                <args>
                  <module>Salesfire_Salesfire</module>
                  <frontName>salesfire/index/index</frontName>
                </args>
            </salesfire>
        </routers>
    </frontend>
    <default>
        <salesfire>
            <general>
                <is_enabled>0</is_enabled>
                <site_id></site_id>
            </general>
        </salesfire>
    </default>
</config>
