<?xml version="1.0"?>
<!--
/**
 * Salesfire config
 *
 * @category   Salesfire
 * @package    Salesfire_Salesfire
 * @version    1.2.11
 */
-->
<config>
    <tabs>
        <salesfire translate="label" module="salesfire">
            <label>Salesfire</label>
            <sort_order>110</sort_order>
        </salesfire>
    </tabs>
    <sections>
        <salesfire translate="label" module="salesfire">
            <frontend_type>text</frontend_type>
            <label>General</label>
            <sort_order>1000</sort_order>
            <tab>salesfire</tab>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <about translate="label">
                    <label>Salesfire</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <info translate="label">
                        <frontend_model>salesfire/adminhtml_system_config_info</frontend_model>
                        <sort_order>0</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        </info>
                    </fields>
                </about>
                <general translate="label">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <is_enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_enabled>
                        <site_id translate="label comment">
                            <label>Site ID</label>
                            <comment>E.g: 00000000-0000-0000-0000-00000000000</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </site_id>
                    </fields>
                </general>
                <feed translate="label">
                    <label>Product Feed</label>
                    <sort_order>20</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <is_enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Whether you want to generate product feed.</comment>
                        </is_enabled>
                        <default_brand translate="label">
                            <label>Default Brand</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Leave blank if you have no brands.</comment>
                        </default_brand>
                        <brand_code translate="label">
                            <label>Brand Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>Salesfire_Salesfire_Block_Adminhtml_System_Config_Attributes</source_model>
                            <comment>Let Salesfire know which of your attributes is the Brand. For example, sometimes it's called manufacturer.</comment>
                        </brand_code>
                        <description_code translate="label">
                            <label>Description Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>Salesfire_Salesfire_Block_Adminhtml_System_Config_Attributes</source_model>
                            <comment>Let Salesfire know which of your attributes is the description.</comment>
                        </description_code>
                        <image_code translate="label">
                            <label>Image Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>Salesfire_Salesfire_Block_Adminhtml_System_Config_Attributes</source_model>
                            <comment>Let Salesfire know which of your attributes is the base image.</comment>
                        </image_code>
                        <gender_code translate="label">
                            <label>Gender Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>Salesfire_Salesfire_Block_Adminhtml_System_Config_Attributes</source_model>
                            <comment>Let Salesfire know which of your attributes is Gender.</comment>
                        </gender_code>
                        <age_group_code translate="label">
                            <label>Age Group Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>Salesfire_Salesfire_Block_Adminhtml_System_Config_Attributes</source_model>
                            <comment>Let Salesfire know which of your attributes is Age Group.</comment>
                        </age_group_code>
                        <colour_code translate="label">
                            <label>Colour Attribute Code</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>Salesfire_Salesfire_Block_Adminhtml_System_Config_Attributes</source_model>
                            <comment>Let Salesfire know which of your attributes is Colour.</comment>
                        </colour_code>
                        <attribute_codes translate="label">
                            <label>Additional Attribute Codes</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma separated list of attribute codes to put in feed. E.g: material,size</comment>
                        </attribute_codes>
                        <feed_url translate="label">
                            <label>Feed URL</label>
                            <frontend_model>salesfire/adminhtml_system_config_feed</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Please provide your Salesfire contact with this URL.</comment>
                        </feed_url>
                    </fields>
                </feed>
            </groups>
        </salesfire>
    </sections>
</config>
